# Proxmox API
proxmox_api_url = "https://pve.a3888s.pp.ua/api2/json" # URL для підключення до Proxmox API
proxmox_api_token_id = "terraform@pam!terraform"       # Ідентифікатор токена для доступу
proxmox_api_token_secret = "0df4f4a1-b86c-4e4b-8fd1-7e5251d667b3" # Секретний ключ токена

# Конфігурація для Docker App Dev
docker_app_dev_target_node          = "pve"                          # Вузол Proxmox, де буде розміщено VM
docker_app_dev_vmid                 = 1000                           # Унікальний ідентифікатор VM
docker_app_dev_desc                 = "Cloudinit Ubuntu 22.04"       # Опис віртуальної машини
docker_app_dev_clone                = "ubuntu-22.04-minimal-cloudimg-amd64" # Шаблон для клонування
docker_app_dev_agent                = 0                              # Використання QEMU Agent (0 - вимкнено)
docker_app_dev_os_type              = "cloud-init"                   # Тип ОС
docker_app_dev_cores                = 2                              # Кількість ядер процесора
docker_app_dev_sockets              = 1                              # Кількість сокетів процесора
docker_app_dev_memory               = 4096                           # Обсяг оперативної пам'яті (у МБ)
docker_app_dev_name                 = "docker-app-dev"               # Ім'я віртуальної машини
docker_app_dev_ipconfig0            = "ip=10.0.0.30/24,gw=10.0.0.1"  # Мережеві налаштування (IP та шлюз)
docker_app_dev_ciuser               = "a3888s"                       # Користувач для Cloud-Init
docker_app_dev_nameserver           = "10.0.0.1"                     # DNS-сервер
docker_app_dev_sshkeys              = <<EOF
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDcwxkA0Wrd7MxwdqzcJyV7AilMGB8AL1g9hFgscDT8Gn6iNfS2/gFRn4Ngs3SlQRkjsJqDT+rrbAYBc3NJNq2sqKPzp1VdhutggHaaIYs4/y2UXshHwgau0LQoi2pV8Jm3bZ9vUs8mOBzKwcH52c+q4mpah5Xqb8DJQZSNOXRBIterE6GBn8NxtRLdSfkmingfXDdAF37OZsz6JDqPh4Y8zy+hUKQslHVyEqSjxFgymf5MqjnEvp+DFXK8FiCsM10byPeFuvTK1nfo/GJBivN7Dn+3/u7f4bLjfLjB+1KJODpYPd61SSldY8rOSWynzbCg8W45iBSpBs3awkPg1HaFMLoWpdTb27+Fc35sdDKERcJsCLPfPKXcV0TYkSR3yMzonc5iw+1vxqe71W08Zykz0QF+c84H84+FXofxq99cqk6y6oB0ozVCx37vJBmMPi4Z0zItJ0cHzP0c5LqXSGuDUnF4URrMie7IBh8tySYScjacmcn1r8xvC4ZRAr9Hb3M= a3888s@Dev
EOF
docker_app_dev_disk_storage         = "pve_storage"                  # Сховище для дисків
docker_app_dev_disk_size            = 32                             # Розмір диска (у ГБ)
docker_app_dev_cloudinit_cdrom_storage = "pve_storage"               # Сховище для Cloud-Init CD-ROM
docker_app_dev_scsihw               = "virtio-scsi-single"           # Тип контролера SCSI
docker_app_dev_bootdisk             = "scsi0"                        # Завантажувальний диск

# Конфігурація для Docker App Prod
docker_app_prod_target_node          = "pve"                          # Вузол Proxmox, де буде розміщено VM
docker_app_prod_vmid                 = 1001                           # Унікальний ідентифікатор VM
docker_app_prod_desc                 = "Cloudinit Ubuntu 22.04"       # Опис віртуальної машини
docker_app_prod_clone                = "ubuntu-22.04-minimal-cloudimg-amd64" # Шаблон для клонування
docker_app_prod_agent                = 0                              # Використання QEMU Agent (0 - вимкнено)
docker_app_prod_os_type              = "cloud-init"                   # Тип ОС
docker_app_prod_cores                = 2                              # Кількість ядер процесора
docker_app_prod_sockets              = 1                              # Кількість сокетів процесора
docker_app_prod_memory               = 4096                           # Обсяг оперативної пам'яті (у МБ)
docker_app_prod_name                 = "docker-app-prod"              # Ім'я віртуальної машини
docker_app_prod_ipconfig0            = "ip=10.0.0.40/24,gw=10.0.0.1"  # Мережеві налаштування (IP та шлюз)
docker_app_prod_ciuser               = "a3888s"                       # Користувач для Cloud-Init
docker_app_prod_nameserver           = "10.0.0.1"                     # DNS-сервер
docker_app_prod_sshkeys              = <<EOF
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDcwxkA0Wrd7MxwdqzcJyV7AilMGB8AL1g9hFgscDT8Gn6iNfS2/gFRn4Ngs3SlQRkjsJqDT+rrbAYBc3NJNq2sqKPzp1VdhutggHaaIYs4/y2UXshHwgau0LQoi2pV8Jm3bZ9vUs8mOBzKwcH52c+q4mpah5Xqb8DJQZSNOXRBIterE6GBn8NxtRLdSfkmingfXDdAF37OZsz6JDqPh4Y8zy+hUKQslHVyEqSjxFgymf5MqjnEvp+DFXK8FiCsM10byPeFuvTK1nfo/GJBivN7Dn+3/u7f4bLjfLjB+1KJODpYPd61SSldY8rOSWynzbCg8W45iBSpBs3awkPg1HaFMLoWpdTb27+Fc35sdDKERcJsCLPfPKXcV0TYkSR3yMzonc5iw+1vxqe71W08Zykz0QF+c84H84+FXofxq99cqk6y6oB0ozVCx37vJBmMPi4Z0zItJ0cHzP0c5LqXSGuDUnF4URrMie7IBh8tySYScjacmcn1r8xvC4ZRAr9Hb3M= a3888s@Dev
EOF
docker_app_prod_disk_storage         = "pve_storage"                  # Сховище для дисків
docker_app_prod_disk_size            = 32                             # Розмір диска (у ГБ)
docker_app_prod_cloudinit_cdrom_storage = "pve_storage"               # Сховище для Cloud-Init CD-ROM
docker_app_prod_scsihw               = "virtio-scsi-single"           # Тип контролера SCSI
docker_app_prod_bootdisk             = "scsi0"                        # Завантажувальний диск


